.adminPage {
  display: flex;
  justify-content: space-between;
}

.adminPage h1 {
  text-align: center;
}
.adminProfile {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.adminSide {
  width: 30%;
  height: 425px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.adminWorking {
  width: 68%;
  /* background-color: rgb(105, 76, 76); */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.adminka {
  max-width: 1200px;
  margin: auto;
  background-color: aliceblue;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.adminka input {
  outline: none;
}

.adminka button {
  padding: 10px;
  width: 100%;
  background-color: black;
  color: white;
}

.addTour {
  width: 500px;
  margin-top: 150px;
}

.addTour input {
  width: 100%;
  margin: 10px 0;
  outline: none;
  font-size: 20px;
}

.tour {
  opacity: 0;
  transition: 0.5s;
}
.tourOpacity {
  opacity: 1;
  transition: 0.5s;
}

.toursContainer {
  opacity: 0;
  transition: 0.5s;
}

.toursContainerOpacity {
  opacity: 1;
  transition: 0.5s;
}

textarea {
  width: 100%;
  height: 200px;
  font-size: 20px;
}

.fetchTour {
  width: 500px;
  margin-top: 150px;
}

.tourContainer {
  margin: 10px 0;
  background-color: white;
}

.tourContainer span {
  padding: 7px;
  font-weight: 200;
  cursor: pointer;
  background-color: brown;
  color: white;
  width: 40px;
  height: 20px;
  align-items: center;
  text-align: center;
  transition: 0.5s;
  margin: 0 10px;
  border-radius: 5px;
}

.tourContainer span:hover {
  padding: 10px;
  background-color: white;
  color: white;
  transition: 1s;
  border-radius: 2px;
}

.modalWindowEdit {
  position: absolute;
  width: 500px;
  top: 200px;
  left: 310px;
}

.modalWindowEdit button {
  width: 500px;
}

.modalWindowEdit input {
  width: 100%;
  margin: 5px 0;
  font-size: 20px;
}
.modalWindowEdit div img {
  width: 100%;
}

.modalOptional {
  width: 500px;
}

.modalOptional button {
  margin: 15px 0 0;
}

.modalOptional input {
  width: 100%;
  font-size: 20px;
}

.adminImage img {
  width: 100%;
  height: 450px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.exit {
  width: 50px;
  position: fixed;
  bottom: 40px;
  right: 30px;
}
.exit img {
  width: 100%;
}

.backgroundImage {
  border: 1px solid silver;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: white;
}

.tourContainer {
  border: 2px solid silver;
  border-radius: 15px;
  padding-bottom: 15px;
}

.dropArea {
  align-items: center;
  width: 500px;
  height: 250px;
  border: 5px dashed black;
  justify-content: center;
  margin: 15px 0;
  text-align: center;
  padding: 45% 0;
}

.gallery {
  position: absolute;
  top: 950px;
  left: 310px;
}
