.mainExcursions {
  width: 1120px;
  margin: auto;
}

.menuExcursions {
  width: 1120px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 60px 0;
}

.typeExcursions {
  width: 475px;
  margin: auto;
}

.typeExcursions a {
  color: #0499dd;
  text-decoration: none;
  font-size: 14px;
  padding-left: 20px;
}

.buttonsExcursions {
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.buttonExcursion {
  height: 50px;
  width: 235px;
  line-height: 50px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-left: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttonExcursion img {
  width: 16px;
  height: 18px;
  align-items: center;
}

.buttonExcursionShow {
  height: 50px;
  width: 235px;
  text-align: center;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 10px;
  line-height: 50px;
  color: white;
  font-size: 14px;
}

.contentExcursions {
  display: flex;
  margin-top: 40px;
}

.filterExcursions {
  width: 300px;
  padding: 25px 30px 0 35px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.titleExcursion {
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 31px;
  font-style: 14px;
  font-weight: bold;
}

.line {
  width: 20px;
  border-bottom: 3px solid #0499dd;
}

.inputsPriceExcursion {
  width: 240px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.inputPriceExcursion {
  width: 115px;
  height: 25px;
  border: 1px solid #d1d1d1;
  font-size: 12px;
  padding-left: 20px;
  box-sizing: border-box;
  border-radius: 40px;
}

.inputTypeRangeExcursion {
  text-align: center;
  margin-top: 30px;
}

.lineBorder {
  width: 240px;
  align-items: center;
  margin-top: 45px;
  border-bottom: 1px solid #ededed;
}

.amountPeople {
  width: 266px;
}

.amountButtons {
  width: 240px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.buttonMan {
  width: 73px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #ededed;
  box-sizing: border-box;
  border-radius: 40px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  margin-top: 7px;
}

.buttonMan10 {
  width: 150px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #ededed;
  box-sizing: border-box;
  border-radius: 40px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  margin-top: 7px;
}

.buttonMan:hover {
  color: white;
  background-color: #0499dd;
}

.buttonMan10:hover {
  color: white;
  background-color: #0499dd;
}

.inputCountryExcursions {
  margin-top: 20px;
  font-size: 12px;
}

.radioCountry input {
  margin-right: 10px;
  cursor: pointer;
}

.durationExcursion {
  display: flex;
}

.dataExcursions {
  display: flex;
}

.incrementExcursion {
  cursor: pointer;
}

.showFilterButton {
  width: 225px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 10px;
  color: white;
  font-size: 14px;
}

.resetFilters {
  width: 300px;
  margin: auto;
  margin-top: 15px;
  font-size: 12px;
  display: flex;
  padding: 0 0 30px 0;
}

.resetX {
  margin-right: 8px;
  color: #d4d4d4;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.ourToursContent {
  margin-left: 40px;
}

.toursTitleExcursion {
  color: #0499dd;
  font-size: 24px;
  font-weight: bold;
}

.ourToursCard {
  width: 780px;
  margin-top: 40px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: flex;
}

.descriptionExcursion {
    margin: 27px 0 0 40px;
}

.typeOfTourExcursion {
    color: #daaa00;
    font-size: 14px;
}

.placeTourExcursion {
    font-size: 18px;
    font-weight: bold;
}

.tripTourExcursion {
    width: 350px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.onePriceTrip {
    display: flex;
}

.ageBilet {
    font-size: 12px;
    font-weight: bold;
}

.priceBiletTour {
    color: #0499DD;
    font-size: 18px;
    font-weight: bold;
}

.timeDescriptionTour {
    color: #0499DD;
    font-size: 18px;
    font-weight: bold;
}

.descriptionPlaceTour {
    margin-top: 20px;
}

.verticalLine {
    border-left: 3px solid #0499DD;
  
}

.textPlaceTour {
    font-size: 12px;
    margin-left: 20px;
}

.buttonsDescriptionTour {
    width: 220px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.moreTourButton {
    width: 160px;
    padding: 10px 0;
    text-align: center;
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    color: white;
    border-radius: 40px;
    cursor: pointer;
}

.heartTour {
    width: 40px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}



