.mainExcursions {
  background: url('../../../assets/excursions/Rectangle1.jpg') no-repeat;
  background-size: 100%;
  padding-top: 180px;
}

.ourExcursions {
  width: 1200px;
  margin: auto;
  font-size: 60px;
  font-weight: 700;
  color: white;
}

.menuExcursions {
  width: 1200px;
  margin: auto;
  margin-top: 120px;
  border-radius: 10px;
  margin-bottom: 100px;
}

.menuExcursions a {
  margin: 0 20px;
}

.typeExcursions {
  width: 550px;
  margin: auto;
}

.typeExcursions a {
  color: #0499dd;
  text-decoration: none;
  font-size: 14px;
}

.buttonsExcursions {
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.buttonExcursion {
  height: 50px;
  width: 235px;
  line-height: 50px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-left: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.buttonExcursion img {
  width: 16px;
  height: 18px;
  align-items: center;
}

.buttonExcursionShow {
  height: 50px;
  width: 235px;
  text-align: center;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 10px;
  line-height: 50px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.contentExcursions {
  width: 1120px;
  display: flex;
  margin: auto;
}

.filterExcursions {
  width: 300px;
  padding: 25px 30px 0 35px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.titleExcursion {
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 31px;
  margin-bottom: 30px;
  font-style: 14px;
  font-weight: bold;
}

.line {
  width: 20px;
  border-bottom: 3px solid #0499dd;
}

.inputsPriceExcursion {
  width: 240px;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.inputPriceExcursion {
  width: 105px;
  height: 30px;
  border: 1px solid #d1d1d1;
  font-size: 12px;
  padding-left: 20px;
  box-sizing: border-box;
  border-radius: 40px;
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  background-image: url('../../../assets/excursions/rubl.svg'),
    linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.8em auto, 100%;
  font-weight: 500;
}

.inputTypeRangeExcursion {
  text-align: center;
  margin-top: 30px;
}

.lineBorder {
  width: 240px;
  align-items: center;
  border-bottom: 1px solid #ededed;
}

.amountPeople {
  width: 266px;
  /* padding-bottom: 20px; */
}

.amountButtons {
  width: 240px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.buttonMan {
  width: 73px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #ededed;
  box-sizing: border-box;
  border-radius: 40px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  margin-top: 7px;
}

.buttonMan10 {
  width: 150px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #ededed;
  box-sizing: border-box;
  border-radius: 40px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  margin-top: 7px;
}

.buttonMan:hover {
  color: white;
  background-color: #0499dd;
}

.buttonMan10:hover {
  color: white;
  background-color: #0499dd;
}

.inputCountryExcursions {
  margin-top: 20px;
  font-size: 12px;
}

.radioCountry input {
  margin-right: 10px;
  cursor: pointer;
}

.durationExcursion {
  display: flex;
}

.dataExcursions {
  display: flex;
}

.incrementExcursion {
  cursor: pointer;
}

.showFilterButton {
  width: 225px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 10px;
  color: white;
  font-size: 14px;
}

.resetFilters {
  width: 300px;
  margin: auto;
  margin-top: 15px;
  font-size: 12px;
  display: flex;
  padding: 0 0 30px 0;
}

.resetX {
  margin-right: 8px;
  color: #d4d4d4;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.ourToursContent {
  margin-left: 40px;
}

.toursTitleExcursion {
  color: #0499dd;
  font-size: 24px;
  font-weight: bold;
}

.selectPlace {
  display: block;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 1.2em;
  width: 235px;
  height: 50px;
  margin: 0;
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('../../../assets/excursions/location.png'),
    linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.9em auto, 100%;
  outline: none;
  cursor: pointer;
}

.selectMansCount {
  display: block;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 1.2em;
  width: 235px;
  height: 50px;
  margin: 0;
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('../../../assets/excursions/contacts.png'),
    linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.9em auto, 100%;
  outline: none;
  cursor: pointer;
}

.mainExcursions input,
.mainExcursions label {
  cursor: pointer;
}

.placeExcursions label {
  margin-bottom: 10px;
}