.adminPage {
  background: #ffffff;
  background: -webkit-linear-gradient(bottom, #ffffff, #049add);
  background: -moz-linear-gradient(bottom, #ffffff, hsl(199, 96%, 44%));
  background: linear-gradient(to top, #ffffff, #049add);
}

.adminka {
  max-width: 1200px;
  margin: auto;
  background-color: aliceblue;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.adminka input {
  outline: none;
}

.adminka button {
  padding: 10px;
  width: 100%;
  background-color: black;
  color: white;
}

.addTour {
  width: 600px;
  margin-top: 150px;
  background-color: rgb(39, 23, 23);
}

.addTour input {
  width: 100%;
  margin: 10px 0;
  outline: none;
  font-size: 18px;
}

textarea {
  width: 100%;
  height: 150px;
  resize: none;
  font-size: 18px;
  background-color: #d2f1ff;
  outline: none;
  border: none;
}

.tourDesc {
  padding: 8px;
  width: 560px;
}

.inputField {
  color: #0499dd;
  font-weight: 700;
  font-size: 12px;
  margin-top: 10px;
}

.modalWindowEdit {
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.closeEditWindow,
.closeOptionalWindow {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: 700;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
}

.modalWindowEdit button {
  width: 500px;
  /* background-color: rgb(123, 36, 36); */
}

.modalWindowEdit input {
  width: 100%;
  font-size: 18px;
  background-color: #e2f6ff;
  outline: none;
  border: none;
  padding-left: 5px;
}

.modalOptional {
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 400px;
}

.modalOptional button {
  margin: 15px 0 0;
}

.modalOptional input {
  width: 100%;
  margin: 5px 0;
  font-size: 18px;
  background-color: #e2f6ff;
  outline: none;
  border: none;
  padding-left: 5px;
}

.backgroundImage {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.tourButtons {
  margin-top: 10px;
  width: 470px;
  display: flex;
  justify-content: space-between;
}

.tourContainer {
  /* border: 2px solid silver; */
  margin-bottom: 20px;
}

.dropArea {
  align-items: center;
  width: 500px;
  height: 250px;
  border: 5px dashed black;
  justify-content: center;
  margin: 15px 0;
  text-align: center;
  padding: 45% 0;
}

.tourBlock {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.adminImage {
  position: relative;
  overflow: hidden;
  width: 238px;
  height: 303px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: -10;
}

.adminImage img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 238px;
  height: 303px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: -10;
}

.typeTour {
  color: #ffc700;
  font-size: 14px;
}

.titleTour {
  font-size: 18px;
  font-weight: bold;
}

.tripTourExcursion {
  width: 450px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.tripTourExcursion img {
  margin-right: 5px;
}

.onePriceTrip {
  display: flex;
}

.ageBilet {
  font-size: 12px;
  font-weight: bold;
}

.priceBiletTour {
  color: #0499dd;
  font-size: 18px;
  font-weight: bold;
}

.timeDescriptionTour {
  color: #0499dd;
  font-size: 18px;
  font-weight: bold;
}

.ticketsIcon {
  width: 20px;
  height: 17px;
  margin-top: 5px;
}

.verticalLine {
  border-left: 3px solid #0499dd;
  padding-left: 10px;
  margin: 15px 0;
}

.carouselButton button {
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  width: 200px;
  height: 40px;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 10px;
  margin-top: 10px;
}
.carouselButtonRed button {
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  width: 150px;
  height: 40px;
  background-color: rgb(255, 109, 109);
  border-radius: 10px;
  padding: 10px;
}

.carouselButtonRed button:hover {
  border: 1px solid rgb(255, 109, 109);
  background-color: #fff;
  color: rgb(255, 109, 109);
}

.carouselButtonBlue button {
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  width: 150px;
  height: 40px;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 10px;
  padding: 10px;
}
.carouselButtonGreen button {
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  width: 150px;
  height: 40px;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 10px;
  /* margin-top: 10px; */
  padding: 10px;
}
