.workingNav {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}
.working a {
  text-decoration: none;
  color: #0499DD;
  font-size: 18px;
  margin-left: 10px;
  font-weight: 700;
}
