.reviewsBlock {
  padding: 150px 0;
}

.reviewsTitle {
  color: #0499dd;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 100px;
  margin-left: 150px;
}

.carousel {
  margin-left: 150px;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
}

.carouselItem {
  min-width: 740px;
  height: 322px;
  background-color: #ededed;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  position: relative;
  border-radius: 10px;
}

.reviewAvatar {
  position: relative;
  overflow: hidden;
  width: 245px;
  height: 245px;
}

.reviewAvatar img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 245px;
  height: 245px;
  object-fit: cover;
  border-radius: 10px;
}

.kov {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.reviewInfo {
  width: 395px;
}

.userInfo {
  font-weight: 700;
}

/* стилизация скролла */
.carousel::-webkit-scrollbar {
  height: 17px; /* width of the entire scrollbar */
}

.carousel::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.carousel::-webkit-scrollbar-thumb {
  background-color: #0499dd;
  border-radius: 20px;
  border: 7px solid white;
}
