.profileUser {
    background: #ffffff;
    background: -webkit-linear-gradient(bottom, #ffffff, #049add);
    background: -moz-linear-gradient(bottom, #ffffff, #049add);
    background: linear-gradient(to top, #ffffff, #049add);
    background-size: 100%;
    height: 1200px;
  }
  .profileBlock {
    width: 1200px;
    margin: auto;
    padding-top: 150px;
  }
  .profileDesk {
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .profileMain {
    padding: 13px;
    border-radius: 10px;
    background-color: white;
  }
  
  .profileUser img {
    width: 100%;
  }
  
  .avatarImg {
    width: 300px;
  }
  .avatarImg img {
    border-radius: 10px;
  }
  input[type='file'] {
    color: transparent;
    width: 150px;
  }
  .choose {
    width: 300px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  .profileId {
    width: 300px;
    background-color: #049add;
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
  }
  .profileName {
    border-bottom: 2px solid rgb(47, 49, 122);
  }
  .profileLastName {
    border-bottom: 2px solid rgb(10, 13, 157);
  }