/* .profileUser {
  background: #ffffff;
  background: -webkit-linear-gradient(bottom, #ffffff, #049add);
  background: -moz-linear-gradient(bottom, #ffffff, #049add);
  background: linear-gradient(to top, #ffffff, #049add);
  background-size: 100%;
  height: 1200px;
}
.profileBlock {
  width: 1200px;
  margin: auto;
  padding-top: 150px;
} */
.profileDesk {
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(182, 141, 141); */
}
.profileMain {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}
.avatarImg img {
  width: 100%;
}
input[type='file'] {
  color: transparent;
  width: 150px;
}
.choose {
  width: 300px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.profileId {
  width: 300px;
  background-color: #049add;
  padding: 10px;
  font-size: 20px;
  margin-top: 10px;
}

.nameInfo {
  margin-top: 10px;
  font-size: 30px;
}