
.exit {
  width: 50px;
  position: fixed;
  bottom: 40px;
  right: 30px;
}
.exit img {
  width: 100%;
}

.profileUser {
  width: 500px;
  margin: auto;
}

.profileUser img {
  width: 100%;
}

.avatarImg {
  width: 250px;
  height: 300px;
}